.delete-btn{
    background-color: red;
    color: white;
    border: 1px solid rgb(204, 1, 1);
    border-radius: 4px;
    margin: 2px;
}
.edit-btn{
    background-color: green;
    color: white;
    border: 1px solid rgb(1, 110, 1);
    border-radius: 4px;
    margin: 2px;
}